{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./components",
          "@lib": "./lib"
        }
      }
    ]
  ]
}
